#app {
  margin: auto;
  position: relative;
  width: 480px;
}

.snake-part {
  position: absolute;
  width: 26px;
  height: 26px;
  margin: 2px;
}

.snake-head {
  background-color: gold;
  z-index: 1;
  border-radius: 8px;
}

.snake-dead {
  background-color: red;
  z-index: 1;
  border-radius: 30px;
}

.snake-body {
  background-color: green;
  border-radius: 3px;
}

.fruit {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 10px;
}

.fruit-apple {
  background-color: red;
}

.fruit-cherry {
  background-color: purple;
}

.fruit-orange {
  background-color: orange;
}

.wall {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #444;
}

.death-cover {
  position: absolute;
  width: 480px;
  height: 480px;
  z-index: 2;
  background-color: rgba(255, 150, 150, 0.5);
}
.death-cover a {
  margin: auto;
  width: 150px;
  height: 40px;
  display: block;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  margin-top: 220px;
  background-color: black;
  color: yellow;
  border-radius: 5px;
  padding-top: 15px;
  text-transform: uppercase;
}
